<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.EntityFrameworkCore" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Relational.Design" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="1.1.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Extensions.Logging" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net452" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net452" />
  <package id="Npgsql" version="3.2.5" targetFramework="net452" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="1.1.1" targetFramework="net452" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net452" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />

</packages>